Django==1.11.5
djangorestframework==3.6.4

# Database
MySQL-python==1.2.5

# Utilities
django-graphos==0.3.41
lxml==4.1.1
pillow==4.3.0
python-decouple==3.1
pytz==2017.2

# Documents
django-wkhtmltopdf==3.1.0
openpyxl==2.4.9

# Server. Commented out for gunicorn below
# uWSGI==2.0.15

# Docker-compose with gunicorn and redis
redis==2.10.6
django-redis==4.8.0
gunicorn==19.7.1
